.git/
.vscode/
.DS_Store
.gitignore
.luaurc
CONTRIBUTING.md
default.project.json
*.tgz
rokit.toml
selene.toml
sourcemap.json
wally.lock
wally.toml
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx
*.rbxl.lock
*.rbxlx.lock
